//*, *:before, *:after {
//  box-sizing: border-box;
//}

:focus {
  outline: none !important;
  //outline: 2px solid red !important;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

html {
  font-size: 16px;
}

body {
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  min-width: $min-width;
  color: $body-color;
  background-color: $body-bg;
}

//audio,
//canvas,
//iframe,
//img,
//svg,
//video {
//  vertical-align: middle;
//}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

//textarea {
//  resize: vertical;
//}

//ol,
//ul {
//  margin: 0;
//  padding: 0;
//  list-style: none;
//}
//
//td,
//th {
//  padding: 0;
//}

a {
  text-decoration: none;
  color: $link-color;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

p {
  margin-top: 0;
  margin-bottom: 16px;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 16px;
  margin-bottom: 8px;
  line-height: 1.2;
  font-weight: 500;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: $font-size * 2.5;
}
h2 {
  font-size: $font-size * 2;
}
h3 {
  font-size: $font-size * 1.75;
}
h4 {
  font-size: $font-size * 1.5;
}
h5 {
  font-size: $font-size * 1.25;
}
h6 {
  font-size: $font-size;
}
