// Colors
$primary: #a17d78;

// Body & link
$font-family: OpenSans, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.5;
$body-bg: #ffffff;
$body-color: #222222;
$link-color: $primary;

// Layout
$site-padding: 15px;
$min-width: 320px;
$max-width: 1200px + $site-padding * 2;
$max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Themes
$themes: (
  default: (bg: #ffffff),
  dark: (bg: #222222)
);

// Grid
$grid-gutter: 30px;
$grid-columns: 12;
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Spacing
//$spacer: 16px;
//$spacers: (
//  0: 0,
//  1: ($spacer * .25),
//  2: ($spacer * .5),
//  3: $spacer,
//  4: ($spacer * 1.5),
//  5: ($spacer * 3)
//);

// Z-indexes
$z-indexes: (
  sticky:   1010,
  fixed:    1020,
  backdrop: 1030,
  modal:    1040,
  tooltip:  1050,
  dropdown: 1060
);

// Transitions
$easings: (
  fast-out-slow-in:   cubic-bezier(0.4, 0, 0.2, 1),     // auto
  linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1),       // enter
  fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1),       // leave
  fast-in-fast-out:   cubic-bezier(0.25, 0.8, 0.25, 1), // stand
  swing:              cubic-bezier(0.25, 0.8, 0.5, 1)   // swing
);
$transition: 0.25s easing(fast-out-slow-in);
$primary-transition: 0.3s easing(swing);
$secondary-transition: 0.2s ease-in-out;

// Components
