<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Webpack template</title>
    <meta name="description" content="Webpack template">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="favicon.ico" rel="icon" type="image/x-icon">
  </head>
  <body>
    {{#each htmlWebpackPlugin.files.sprites }} {{{this}}} {{/each }}
    <div id="app" class="app">
      <div class="app__inner">
        <v-header></v-header>
        <div class="main">
          {{#> content}}{{/content}}
        </div>
        <v-footer></v-footer>
      </div>
    </div>
  </body>
</html>
